body{
    background-color: darkcyan;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    /* font-weight: bold; */

}

.question1{
    background-color: darkblue;
    border-radius: 4px ;
    color: white;
}

.question2{
    background-color: aqua;
    border-radius: 4px;
    color: white;

}

.question3{
    background-color: chocolate;
    border-radius: 4px;
    color: white;

}
.question4{
    background-color:black;
    border-radius: 4px;
    color: white;

}

.question5{
    background-color: honeydew;
    border-radius: 4px;

}


h1{
    text-align: center;
    text-decoration: solid;
    margin: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Cat-Dog */
h2{
    text-align: center;
    text-decoration: solid;
    text-overflow: clip;
    margin: 8px;
    color: brown;
}

#Cat:hover{
    cursor: pointer;
}

#Dog:hover{
    cursor: pointer;
}